<div> 
    <form method="post" action="/Profile/Create">
        @Html.Label("FirstName", "First Name")     
        <br />
        @Html.TextBox("FirstName", null, new { @class = "form-control" })
        <br /><br />     
        @Html.Label("LastName", "Last Name")     
        <br />     
        @Html.TextBox("LastName", null, new { @class = "form-control" })     
        <br />    
        <button type="submit">Save profile</button>
    </form>
</div>
